# Provider to find your current IP
provider: http://ifconfig.ovh
# DNS provider to run the DNS lookup. Protocol is assumed to be UDP and port is
# assumed to be 53.
dns_provider: 1.1.1.1
# Check interval is the frequency used to check the current IP vs the DNS
# domain. It does not make much sense to use a value less than the DNS TTL.
# For this reason, if the check interval is less than the minimum configured
# TTL, the minimum TTL will be used instead.
check_interval: 30s
# Domains to keep updated. Each entry needs a domain, sub_domain, and ttl.
# TTL is the time after which the DNS entry expires. Keep this low for faster
# DNS updates.
domains:
  - domain: superdomain.fr
    sub_domain: my
    ttl: 60s
  - domain: otherdomain.com
    sub_domain: home
    ttl: 60s
# OVH API configuration
ovh:
  application_key: your_application_key
  application_secret: your_application_secret
  consumer_key: your_consumer_key
  endpoint: ovh-eu
